div a {
	color: blue;
}

@custom-env --env-var 50px;
@custom-media --media-var screen (max-width: 640px);

a {
	color: blue;
}

$sass-var: blue;
$sass-var: blue $sass-var green;

a {
	color: blue;
}

body:--selector-var {
	color: blue $sass-var green;
	$sass-var: blue $sass-var green;
	color: blue $sass-var green;
	--prop-var: blue $sass-var green;
	color: blue $sass-var green;

	@media (--media-var) {
		color: var(--prop-var, blue);
		color: env(--env-var, blue);
	}
}

a {
	color: blue;
}
